<div class="example-card">
  <mat-card-header class="title">
    <mat-card-title *ngIf="data.tipo === 1">CREAR ENDPOINT</mat-card-title>
    <mat-card-title *ngIf="data.tipo === 2">ACTUALIZAR ENDPOINT</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="endPointCreateForm">
      <div class="form-group">
        <mat-form-field>
          <mat-label>CONTROLADOR</mat-label>
          <mat-select formControlName="idControllerTrigarante">
            <mat-option *ngFor="let controlador of controladores" [value]="controlador.id">
              {{controlador.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error class="error" *ngIf="!endPointCreateForm.controls['idControllerTrigarante'].valid && endPointCreateForm.controls['idControllerTrigarante'].dirty">
          Se requiere llenar el campo correctamente
        </mat-error>
      </div>
      <div class="form-group">
        <mat-form-field class="form">
          <input matInput type="text" formControlName="nombre" placeholder="NOMBRE">
        </mat-form-field>
        <mat-error class="error" *ngIf="!endPointCreateForm.controls['nombre'].valid && endPointCreateForm.controls['nombre'].dirty">
          Se requiere llenar el campo correctamente
        </mat-error>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>PETICION</mat-label>
          <mat-select formControlName="idPeticion">
            <mat-option *ngFor="let peticion of peticiones" [value]="peticion.id">
              {{peticion.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error class="error" *ngIf="!endPointCreateForm.controls['idPeticion'].valid && endPointCreateForm.controls['idPeticion'].dirty">
          Se requiere llenar el campo correctamente
        </mat-error>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="formbuttons">
    <button mat-button color="primary" (click)="postEndPoint()" [disabled]="endPointCreateForm.invalid" *ngIf="data.tipo === 1">Guardar</button>
    <button mat-button (click)="updateEndPoint()" [disabled]="endPointCreateForm.invalid" *ngIf="data.tipo === 2">Actualizar</button>
    <button mat-button color="accent" (click)="cerrarDialog()">Cancelar</button>
  </mat-card-actions>
</div>

