.mat-card-cicle {
  width: 100%;
  //height: 81vh;
  //height: 3000px;
  //background: red;
}
.date {
  //display: flex;
  //justify-content: space-between;
  //width: 100%;
  //background: red;
  //top: 7%;
}
.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //background: #1b722f;
}
.codigo-text {
  display: flex;
  justify-content: center;
}
.chart-linear {
  width: 48%;
  margin: 1%;
  justify-content: center;
  //background: red;
}
.graphic-content {
  width: 100%;
  //background: #1b722f;
  //margin-bottom: 3%;
}

.graphic-weekend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //margin: 2%;
  width: 100%;
  //background: red;
}
.year {
  width: 100%;
}
.div {
  position: relative;
  width: 600px;
  height: 400px;
  //background: #1b722f;
  //overflow: auto;
}
