<mat-card class="mat-card-cicle">
  <div class="padding-card">
    <mat-card-header class="date">
      <mat-card-title>PANEL DE CONTROL</mat-card-title>
      <mat-card-subtitle>{{date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="box" id="id_CardContent">
      <app-grafica-circular class="graphic-content"></app-grafica-circular>
      <div class="graphic-weekend">
        <mat-card class="chart-linear mat-elevation-z3">
          <div class="padding-card">
            <mat-card-subtitle>Errores por día {{date}}</mat-card-subtitle>
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    [colors] = "lineChartColors">
            </canvas>
          </div>
        </mat-card>
        <mat-card class="chart-linear mat-elevation-z3">
          <div class="padding-card">
          <mat-card-subtitle>Estados de respuestas {{date}}</mat-card-subtitle>
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [options]="barChartOption"
                    [chartType]="doughnutChartType"
                    [colors]="doughnutlineChartColors">
            </canvas>
          </div>
        </mat-card>
      </div>
<!--   ---------------------------   -->
      <mat-card class=" mat-elevation-z3" style="width: 100%;">
          <div class="padding-card">
            <mat-card-subtitle>Errores por módulo {{date}}</mat-card-subtitle>
            <canvas baseChart
                    [datasets]="barChartDataModulos"
                    [labels]="barChartLabelsModulo"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    [colors] = "lineChartColors" height="100">
            </canvas>
          </div>
        </mat-card>
<!-- ---------------------------------  -->
      <mat-card class="padding-card" style="width: 100%;" *ngIf="stream">
        <button mat-button color="primary" (click)="iniciarStream()">Iniciar cámara</button>
        <button mat-button color="primary" (click)="emitir()" *ngIf="emitiendo === true">Emitir</button>
        <button mat-button color="primary" (click)="cancelar()" *ngIf="emitiendo === true">Cancelar</button>
        <button mat-button color="primary" (click)="recibirStream()" *ngIf="emitiendo === false">Recibir Conexión</button>
        <video src="" #video id="video"></video>
        <canvas #canvas id="canvas"></canvas>
        <mat-card class="padding-card" style="width: 100%;">
          <img src="{{streamData}}" alt="stream" #imagen>
        </mat-card>
      </mat-card>
<!-- ---------------------------------  -->
    </mat-card-content>
  </div>
</mat-card>

