<div *ngIf="actualizar === 1">
  <mat-card-header class="title">
    <mat-card-title>DETALLE DE ERROR</mat-card-title>
  </mat-card-header>
  <mat-card-content class="example-table-container" *ngIf="errorTrigarante">
    {{errorTrigarante.status}}
  </mat-card-content>
  <mat-card-actions class="formbuttons">
    <button mat-button color="accent" (click)="cerrarDialog()">Cerrar</button>
  </mat-card-actions>
</div>

<div *ngIf="actualizar === 2">
  <mat-card-header class="title">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title *ngIf="data.tipo === 2">ACTUALIZAR ESTADO DE ERROR</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="controladorCreateForm">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select formControlName="idModuloErrorTrigarante">
            <mat-option *ngFor="let modulo of estados" [value]="modulo.id">
              {{modulo.estado}}
            </mat-option>
          </mat-select>
        </mat-form-field>
<!--        <mat-error class="error" *ngIf="!controladorCreateForm.controls['idModuloErrorTrigarante'].valid && controladorCreateForm.controls['idModuloErrorTrigarante'].dirty">-->
<!--          Se requiere llenar el campo correctamente-->
<!--        </mat-error>-->
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="formbuttons">
    <button mat-button color="accent" (click)="cerrarDialog()">Cancelar</button>
    <button mat-button color="primary" (click)="actualizaEstadoError()" [disabled]="controladorCreateForm.invalid">Actualizar</button>
  </mat-card-actions>
</div>

