.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
.formbuttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.title {
  justify-content: center;
  width: 100%;
}
.max-height {
  max-height: 400px;
}
mat-form-field {
  width: 100%;
}
.formbuttons {
  display: flex;
  justify-content: space-between;
}
