<div class="example-card fondo">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title *ngIf="data.tipo === 1">CREAR CONTROLADOR</mat-card-title>
    <mat-card-title *ngIf="data.tipo === 2">ACTUALIZAR CONTROLADOR</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="controladorCreateForm">
      <div class="form-group">
        <mat-form-field class="form">
          <input matInput type="text" formControlName="nombre" placeholder="NOMBRE">
        </mat-form-field>
        <mat-error class="error" *ngIf="!controladorCreateForm.controls['nombre'].valid && controladorCreateForm.controls['nombre'].dirty">
          Se requiere llenar el campo correctamente
        </mat-error>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>CONTROLADOR</mat-label>
          <mat-select formControlName="idModuloErrorTrigarante">
            <mat-option *ngFor="let modulo of modulos" [value]="modulo.id">
              {{modulo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error class="error" *ngIf="!controladorCreateForm.controls['idModuloErrorTrigarante'].valid && controladorCreateForm.controls['idModuloErrorTrigarante'].dirty">
          Se requiere llenar el campo correctamente
        </mat-error>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="formbuttons">
    <button mat-button color="primary" (click)="postControlador()" [disabled]="controladorCreateForm.invalid" *ngIf="data.tipo === 1">Guardar</button>
    <button mat-button (click)="updateControlador()" [disabled]="controladorCreateForm.invalid" *ngIf="data.tipo === 2">Actualizar</button>
    <button mat-button color="accent" (click)="cerrarDialog()">Cancelar</button>
  </mat-card-actions>
</div>

