<div class="loader" style="width: 100%; height: 100vh; position: fixed; z-index: 99999;">
  <lottie-player src="assets/animation/data.json" background="transparent" speed="1" autoplay>
  </lottie-player>
  <div class="twenty">
    2020
  </div>
</div>
<mat-toolbar class="mat-elevation-z3 b">
  <img src="assets/img/icons/logo.png" class="logo-img" alt="admin@bootstrapmaster.com"/>
  <button mat-icon-button (click)="drawer.toggle(); caroucelAnimation();"
          aria-label="Example icon-button with menu icon">
    <mat-icon class="example-icon">menu</mat-icon>
  </button>
  <span class="example-spacer">
    <div id="result"></div>
  </span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="startSpeed()">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="bar"></div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="{{barShow}}">
    <!--   -->
    <ul class="list list-unstyled list-bg-light mb-0">
      <!-- multi-level dropdown menu -->
      <li class="list-item">

        <!-- list title -->
        <p class="list-title text-uppercase">Dashboard</p>
        <!-- list items, first level -->
        <ul class="list-unstyled">
          <li>
            <a routerLink="dashboard" class="list-link">
              <span class="list-icon">
                <mat-icon mat-raised-button class="align-icon">speed</mat-icon>
              </span>Control
              <div class="float-right">
                <span class="badge badge-danger">New</span>
                <span class="badge badge-secondary">1</span>
              </div>
            </a>
          </li>
          <!--          link-current--modulos---->
          <li>
            <a class="list-link link-arrow">
            <span class="list-icon">
            <mat-icon mat-raised-button class="align-icon">widgets</mat-icon>
            </span>Módulos</a>
            <!-- list items, second level -->
            <ul class="list-unstyled list-hidden">
              <li>
                <a routerLink="recursos-humanos" class="list-link">Recursos Humanos</a>
              </li>
              <li>
                <a routerLink="comercial" class="list-link">Comercial</a>
              </li>
            </ul>
          </li>
          <!-- notice info -->

        </ul>
      </li>

      <!-- multi-level dropdown menu -->
      <li class="list-item">

        <!-- list title -->
        <p class="list-title text-uppercase">Catalogos</p>

        <!-- list items, first level -->
        <ul class="list-unstyled">
          <li><a class="list-link link-arrow"><span class="list-icon">
            <mat-icon mat-raised-button class="align-icon">burst_mode</mat-icon>
          </span>Catálogos</a>

            <!-- list items, second level -->
            <ul class="list-unstyled list-hidden">
              <li><a routerLink="endpoint" class="list-link">EndPoint</a></li>
              <li><a routerLink="controladores" class="list-link">Contrladores</a></li>
              <li><a routerLink="peticiones" class="list-link">Petición</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- simple menu -->
    </ul>
    <!--    -->
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
<div class="container" style="display: none">
  <form>
    <fieldset>
      <legend>Network measures</legend>

      <div class="row">
        <div class="col-md-6">
          <div class="btn-toolbar">
            <div class="btn-group">
              <button class="btn btn-default" type="button" data-measure="latency">
                <span class="glyphicon glyphicon-time"></span> Latency
              </button>
            </div>

            <div class="btn-group">
              <button class="btn btn-default" type="button" data-measure="upload">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button class="btn btn-default" type="button" data-measure="download" id="idButton">
                <span class="glyphicon glyphicon-download"></span> Download
              </button>
            </div>

            <div class="btn-group">
              <button class="btn btn-default" type="button" data-abort disabled id="abort">
                <span class="glyphicon glyphicon-remove-circle"></span> Abort
              </button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="result">
      <output></output>
    </div>
  </form>
</div>
