<div class="example-card">
  <mat-card-header class="header">
    <mat-card-title>RECURSOS HUMANOS</mat-card-title>
    <div class="example-button-container" (click)="irRH()" matTooltip="Ir a recursos Humanos">
      <mat-icon>how_to_reg</mat-icon>
    </div>
    <!--    <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group (selectedTabChange)="getErroresVacantes($event);">
      <mat-tab label="VACANTES">
        <div class="tab" *ngIf="cantidadEstadoErrres">
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.pendiente"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">En proceso</span><br>
                <p class="text-value">{{cantidadEstadoErrres.proceso}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Resuelto</span><br>
                <p class="text-value">{{cantidadEstadoErrres.resuelto}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.post"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="'Post'"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">Get</span><br>
                <p class="text-value">{{cantidadEstadoErrres.get}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Put</span><br>
                <p class="text-value">{{cantidadEstadoErrres.put}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-elevation-z3 padding-card graphic-size">
            <div class="example-loading-shade" *ngIf="isLoadingResultsGrafica || isRateLimitReachedGrafica">
              <mat-spinner *ngIf="isLoadingResultsGrafica"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReachedGrafica">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [colors]="lineChartColors" *ngIf="barChartData"></canvas>
          </mat-card-content>
          <!--       ------------------------------------------------------->
        </div>
      </mat-tab>
      <mat-tab label="SOLICITUDES">
        <div class="tab" *ngIf="cantidadEstadoErrres">
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.pendiente"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">En proceso</span><br>
                <p class="text-value">{{cantidadEstadoErrres.proceso}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Resuelto</span><br>
                <p class="text-value">{{cantidadEstadoErrres.resuelto}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.post"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="'Post'"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">Get</span><br>
                <p class="text-value">{{cantidadEstadoErrres.get}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Put</span><br>
                <p class="text-value">{{cantidadEstadoErrres.put}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-elevation-z3 padding-card graphic-size">
            <div class="example-loading-shade" *ngIf="isLoadingResultsGrafica || isRateLimitReachedGrafica">
              <mat-spinner *ngIf="isLoadingResultsGrafica"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReachedGrafica">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [colors]="lineChartColors" *ngIf="barChartData"></canvas>
          </mat-card-content>
          <!--       ------------------------------------------------------->
        </div>
      </mat-tab>
      <mat-tab label="PRE CANDIDATOS">
        <div class="tab" *ngIf="cantidadEstadoErrres">
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.pendiente"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">En proceso</span><br>
                <p class="text-value">{{cantidadEstadoErrres.proceso}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Resuelto</span><br>
                <p class="text-value">{{cantidadEstadoErrres.resuelto}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.post"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="'Post'"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">Get</span><br>
                <p class="text-value">{{cantidadEstadoErrres.get}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Put</span><br>
                <p class="text-value">{{cantidadEstadoErrres.put}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-elevation-z3 padding-card graphic-size">
            <div class="example-loading-shade" *ngIf="isLoadingResultsGrafica || isRateLimitReachedGrafica">
              <mat-spinner *ngIf="isLoadingResultsGrafica"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReachedGrafica">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [colors]="lineChartColors" *ngIf="barChartData"></canvas>
          </mat-card-content>
          <!--       ------------------------------------------------------->
        </div>
      </mat-tab>
      <mat-tab label="CANDIDATOS">
        <div class="tab" *ngIf="cantidadEstadoErrres">
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.pendiente"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">En proceso</span><br>
                <p class="text-value">{{cantidadEstadoErrres.proceso}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Resuelto</span><br>
                <p class="text-value">{{cantidadEstadoErrres.resuelto}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.post"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="'Post'"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">Get</span><br>
                <p class="text-value">{{cantidadEstadoErrres.get}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Put</span><br>
                <p class="text-value">{{cantidadEstadoErrres.put}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-elevation-z3 padding-card graphic-size">
            <div class="example-loading-shade" *ngIf="isLoadingResultsGrafica || isRateLimitReachedGrafica">
              <mat-spinner *ngIf="isLoadingResultsGrafica"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReachedGrafica">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [colors]="lineChartColors" *ngIf="barChartData"></canvas>
          </mat-card-content>
          <!--       ------------------------------------------------------->
        </div>
      </mat-tab>
      <mat-tab label="COACHING">
        <div class="tab" *ngIf="cantidadEstadoErrres">
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.pendiente"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">En proceso</span><br>
                <p class="text-value">{{cantidadEstadoErrres.proceso}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Resuelto</span><br>
                <p class="text-value">{{cantidadEstadoErrres.resuelto}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.post"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="'Post'"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">Get</span><br>
                <p class="text-value">{{cantidadEstadoErrres.get}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Put</span><br>
                <p class="text-value">{{cantidadEstadoErrres.put}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-elevation-z3 padding-card graphic-size">
            <div class="example-loading-shade" *ngIf="isLoadingResultsGrafica || isRateLimitReachedGrafica">
              <mat-spinner *ngIf="isLoadingResultsGrafica"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReachedGrafica">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [colors]="lineChartColors" *ngIf="barChartData"></canvas>
          </mat-card-content>
          <!--       ------------------------------------------------------->
        </div>
      </mat-tab>
      <mat-tab label="SEGUIMIENTO">
        <div class="tab" *ngIf="cantidadEstadoErrres">
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.pendiente"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">En proceso</span><br>
                <p class="text-value">{{cantidadEstadoErrres.proceso}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Resuelto</span><br>
                <p class="text-value">{{cantidadEstadoErrres.resuelto}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.post"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="'Post'"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">Get</span><br>
                <p class="text-value">{{cantidadEstadoErrres.get}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Put</span><br>
                <p class="text-value">{{cantidadEstadoErrres.put}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-elevation-z3 padding-card graphic-size">
            <div class="example-loading-shade" *ngIf="isLoadingResultsGrafica || isRateLimitReachedGrafica">
              <mat-spinner *ngIf="isLoadingResultsGrafica"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReachedGrafica">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [colors]="lineChartColors" *ngIf="barChartData"></canvas>
          </mat-card-content>
          <!--       ------------------------------------------------------->
        </div>
      </mat-tab>
      <mat-tab label="EMPLEADOS">
        <div class="tab" *ngIf="cantidadEstadoErrres">
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.pendiente"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">En proceso</span><br>
                <p class="text-value">{{cantidadEstadoErrres.proceso}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Resuelto</span><br>
                <p class="text-value">{{cantidadEstadoErrres.resuelto}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-card-circle mat-elevation-z3 padding-card">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <ngx-gauge
              [value]="cantidadEstadoErrres.post"
              [cap]="cap"
              [thick]="thick"
              [type]="'full'"
              [label]="'Post'"
              [append]="gaugeAppendText"
              [size]="160"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <div class="text-container">
              <div class="text-one">
                <span class="badge-text badge-warning">Get</span><br>
                <p class="text-value">{{cantidadEstadoErrres.get}}</p>
              </div>
              <div class="text-two">
                <span class="badge-text badge-green">Put</span><br>
                <p class="text-value">{{cantidadEstadoErrres.put}}</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-content class="mat-elevation-z3 padding-card graphic-size">
            <div class="example-loading-shade" *ngIf="isLoadingResultsGrafica || isRateLimitReachedGrafica">
              <mat-spinner *ngIf="isLoadingResultsGrafica"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReachedGrafica">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" [colors]="lineChartColors" *ngIf="barChartData"></canvas>
          </mat-card-content>
          <!--       ------------------------------------------------------->
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</div>
