.example-card {
  width: 100%;
  min-height: 55vh;
}
.example-button-container {
  position: absolute;
  z-index: 5;
  right: 2px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.text-title {
  font-size: 14px;
  height: 110px;
  display: flex;
  flex-direction: column;justify-content: center;
}
.mat-card-circle {
  width: 15%;
  min-width: 170px;

  //height: 100%;
  margin-top: 2%;
  //background: #159F85;
}
.tab {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.text-one {
  border-right: 0.125rem solid transparent;
  border-right-color: #ece9e9;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-two {
  border-left: 0.125rem solid transparent;
  border-left-color: #ece9e9;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-value {
  font-size: 17px;
}
.chart-linear {
  width: 48%;
  margin: 1%;
  justify-content: center;
  //background: red;
}
