mat-form-field {
  width: 100%;
}
.formbuttons {
  display: flex;
  justify-content: space-between;
}
.error {
  color: tomato;
}

.example-card {
  max-width: 400px;
  //background: red;
}
.title {
  color: #354089;
  width: 100%;
  display: flex;
  justify-content: center;
}
