<div class="example-card fondo">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title *ngIf="data.tipo === 1">CREAR PETICION</mat-card-title>
    <mat-card-title *ngIf="data.tipo === 2">ACTUALIZAR PETICION</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="peticionCreateForm">
      <div class="form-group">
        <mat-form-field class="form">
          <input matInput type="text" formControlName="nombre" placeholder="NOMBRE">
        </mat-form-field>
        <mat-error class="error" *ngIf="!peticionCreateForm.controls['nombre'].valid && peticionCreateForm.controls['nombre'].dirty">
          Se requiere llenar el campo correctamente
        </mat-error>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="formbuttons">
    <button mat-button color="primary" (click)="postPeticion()" [disabled]="peticionCreateForm.invalid" *ngIf="data.tipo === 1">Guardar</button>
    <button mat-button (click)="updatePeticion()" [disabled]="peticionCreateForm.invalid" *ngIf="data.tipo === 2">Actualizar</button>
    <button mat-button color="accent" (click)="cerrarDialog()">Cancelar</button>
  </mat-card-actions>
</div>

