.circle-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text-title {
  font-size: 14px;
  height: 110px;
  display: flex;
  flex-direction: column;justify-content: center;
}
.mat-card-cicle {
  width: 30%;
  //padding-bottom: 5%;
  //background: red;
}
.mat-panel {
  width: 100%;
  padding-bottom: 5%;
}
.tabla{
  width: 100%;
  //background: green;
}
.row {
  width: 100%;
}
.input{
  width: 50%;
  text-align: end;
}
.button{
  width: 50%;
}
.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
