<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/img/reload.png" matTooltip="RECARGAR PÁGINA" (click)="getErrores(1)">
    </div>
  </div>

  <div class="button-input">
    <div class="button">
      <button id="" mat-raised-button hidden></button>
    </div>

    <mat-card-title style="text-align: center; color: #354089;">
      ERRORES TRIGARANTE
    </mat-card-title>
    <!--    <div class="title">-->
    <!--      <span style="font-size: 1.7em; font-weight: 500">CONTROLADORS</span>-->
    <!--    </div>-->
    <div class="input">
      <mat-form-field style="width: 50%;">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            N°
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{ element.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="idEndPoint">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ENDPOINT</th>
          <td mat-cell *matCellDef="let element">{{ element.idEndPoint }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaError">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA ERROR</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaError }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
          <td mat-cell *matCellDef="let element">
              <input matInput value="{{element.status}}">
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            <span >ACCIONES</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                (click)="getErroresById(element.id)"
                matTooltip="Detalle error"
                mat-raised-button
              >remove_red_eye
              </mat-icon>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div> <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
