table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.button{
  width: 50%;
}
.input{
  width: 50%;
  text-align: end;
}
.mat-form-field{
  width: 40%;
  color: #e21c51;
}

.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  color: darkblue;
}

.example-user-input {
  margin-right: 8px;
}

.tooltip{
  background-color: #138d75;
  color: white;
}

.button-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

mat-paginator {
  margin-top: 2%;
}
