<mat-card class=".mat-panel">
  <div class="padding-card">
    <mat-card-header class="date">
      <mat-card-title>RECURSOS HUMANOS</mat-card-title>
      <mat-card-subtitle>{{date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="box">
      <mat-tab-group (selectedTabChange)="getErroresXmodulo($event); itemModulo = $event.tab.textLabel">
        <mat-tab label="VACANTES">
        </mat-tab>
        <mat-tab label="SOLICITUDES">
        </mat-tab>
        <mat-tab label="PRE CANDIDATOS">
        </mat-tab>
        <mat-tab label="CANDIDATOS">
        </mat-tab>
        <mat-tab label="COACHING">
        </mat-tab>
        <mat-tab label="SEGUIMIENTO">
        </mat-tab>
        <mat-tab label="EMPLEADOS">
        </mat-tab>
      </mat-tab-group>
      <div class="row">
        <div class="tabla">
          <div class="button-input">
            <div class="button">
              <button id="" mat-raised-button hidden></button>
            </div>

            <mat-card-title style="text-align: center;">
              {{itemModulo}}
            </mat-card-title>
            <!--    <div class="title">-->
            <!--      <span style="font-size: 1.7em; font-weight: 500">CONTROLADORS</span>-->
            <!--    </div>-->
            <div class="input">
              <mat-form-field style="width: 50%;">
                <mat-label>Filtrar</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <mat-card-content class="padding-card">
            <div class="example-loading-shade"*ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Oop! al parecer ha habido un error.
              </div>
            </div>
            <table
              mat-table
              [dataSource]="dataSource"
              matSort
              class="mat-elevation-z3 tabla"
            >
              <!-- Position Column -->
              <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef style="text-align: center">
                  DETALLE
                </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                  <mat-icon
                    (click)="getErroresById(element.id)"
                    matTooltip="Detalle error"
                    mat-raised-button
                  >remove_red_eye
                  </mat-icon>
                </td>
              </ng-container>
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="text-align: center">
                  N°
                </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">
                  {{ element.id }}
                </td>
              </ng-container>

              <ng-container matColumnDef="idEndPoint">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ENDPOINT</th>
                <td mat-cell *matCellDef="let element">{{element.endPoint}}</td>
              </ng-container>

              <ng-container matColumnDef="fechaError">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA ERROR</th>
                <td mat-cell *matCellDef="let element">{{ element.fechaError | date : 'd MMM y'}}</td>
              </ng-container>

              <ng-container matColumnDef="horaError">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>HORA ERROR</th>
                <td mat-cell *matCellDef="let element">{{ element.fechaError | date : 'HH:mm:ss'}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
                <td mat-cell *matCellDef="let element">
                  <input matInput value="{{element.status}}">
                </td>
              </ng-container>
              <ng-container matColumnDef="peticion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>PETICION</th>
                <td mat-cell *matCellDef="let element">
                  <input matInput value="{{element.peticion}}">
                </td>
              </ng-container>
              <ng-container matColumnDef="estadoError">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ESTADO ERROR</th>
                <td mat-cell *matCellDef="let element">
                  <input matInput value="{{element.estadoError}}">
                </td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef style="text-align: center">
                  <span>ACCIONES</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="actions">
                    <mat-icon
                      (click)="update(element.id, element)"
                      matTooltip="Actualizar estado"
                      mat-raised-button
                    >edit
                    </mat-icon>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="cols"></tr>
              <tr mat-row *matRowDef="let row; columns: cols"></tr>
            </table>
            <div style="width: 100%; height: 30px;"></div>
            <mat-paginator
              [pageSizeOptions]="[10, 15, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </mat-card-content>
        </div>
      </div>
    </mat-card-content>
  </div>
</mat-card>

