@import "~animate.css/animate.min.css";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  /***RELOAD IMG***/
  .reload-all {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
  }

  .icon-all {
    display: block;
  }

  .icon-all img {
    width: 30px;
    animation: reload 2s linear infinite;
    cursor: pointer;
  }

  @keyframes reload {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }

  }
.mat-icon {
  cursor: pointer;
}
article {
  //background: #1b722f;
  //width: 100%;
  height: auto !important;
}
.mat-card {
  padding: 0% !important;
}
ul .list {
  width: 100px;
}
.padding-card {
  padding: 2%;
  position: relative;
}
.mat-icon {
  color: #2266af;
}
.mat-card-title {
  color: #354089;
}
// -----------------loading---------
.loader {
  //background: #ff6e7f;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: white;
  cursor: wait;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
}
#lottie{
  background-color:#fff;
  width:50%;
  height:100%;
  display:flex;
  overflow: hidden;
  justify-content: center;
}
.graphic-size {
  margin-top: 2%;
  width: 50%;
}
// ------------loading-------------------------------------------------------------
//* Structure */
.example-loading-shade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.17);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
.badge-text {
  //display: inline-block;
  //padding: 0.25em 0.4em;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  //white-space: nowrap;
  //vertical-align: baseline;
  //border-radius: 0.25rem;
  //transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-pink {
  color: #fff;
  background-color: #FF1456;
}
.badge-warning {
  color: orangered;
  //background-color: orangered;
}
.badge-green {
  color: #1e7f02;
  //background-color: #1e7f02;
}
