<mat-card>
  <div class="reload-all">
    <div class="icon-all">
      <img src="../../../../assets/img/reload.png" matTooltip="RECARGAR PÁGINA" (click)="getEndPoint(1)">
    </div>
  </div>

  <div class="button-input">
    <div class="button">
      <button id="" mat-button color="primary" (click)="crearEndPoint()">CREAR ENDPOINT</button>
    </div>

    <mat-card-title style="text-align: center; color: #354089;">
      ENDPOINTS
    </mat-card-title>
    <!--    <div class="title">-->
    <!--      <span style="font-size: 1.7em; font-weight: 500">ENDPOINTS</span>-->
    <!--    </div>-->
    <div class="input">
      <mat-form-field style="width: 50%;">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>


  <mat-card-content>
    <div>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            ID
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            {{ element.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="idControllerTrigarante">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CONTROLADOR</th>
          <td mat-cell *matCellDef="let element">{{ element.idControllerTrigarante }}</td>
        </ng-container>

        <ng-container matColumnDef="idPeticion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PETICION</th>
          <td mat-cell *matCellDef="let element">{{ element.idPeticion }}</td>
        </ng-container>

        <ng-container matColumnDef="puesto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PUESTO</th>
          <td mat-cell *matCellDef="let element">{{ element.puesto }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            <span >ACCIONES</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon
                (click)="updateEndPoint(element.id)"
                matTooltip="Modificar endpoint"
                mat-raised-button
              >edit
              </mat-icon>
<!--              <mat-icon-->
<!--                id="delete"-->
<!--                (click)="bajaEndPoint(element.id)"-->
<!--                matTooltip="Dar de baja"-->
<!--                mat-raised-button-->
<!--              >delete_forever-->
<!--              </mat-icon>-->
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="cols"></tr>
        <tr mat-row *matRowDef="let row; columns: cols"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div> <!--  </nb-card-body>-->
  </mat-card-content>
</mat-card>
