<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
  <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true"
                     (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)"
                     (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">
    <div class="scrollable-content">
      <div class="cards">
        <mat-card class="mat-elevation-z3 mat-card-circle">
          <!--        <button mat-button color="primary" class="select-status">Erores pendientes</button>-->
          <mat-icon (click)="getDetalleErrorRH()" class="eye" matTooltip="Ver detalles" mat-raised-button>
            remove_red_eye
          </mat-icon>
          <mat-card-content class="circle-text">
            <!--            [cap] = "'round'"-->
            <ngx-gauge
              [type]="'arch'"
              [thick]="7"
              [value]="rrhhRangeLevel"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="150"
              [max]="500"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <mat-card-title class="text-title">Rescursos Humanos</mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z3 mat-card-circle">
          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>
            remove_red_eye
          </mat-icon>
          <mat-card-content class="circle-text">
            <ngx-gauge
              [value]="valor500"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="150" [thick]="7"
              [thresholds]="thresholdConfig"
            >
            </ngx-gauge>
            <mat-card-title class="text-title">Tecnologías de Información</mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z3 mat-card-circle">
          <mat-icon (click)="getDetalleErrorComercial()" class="eye" matTooltip="Ver detalles" mat-raised-button>
            remove_red_eye
          </mat-icon>
          <mat-card-content class="circle-text">
            <ngx-gauge
              [value]="rrhhRangeLevelComercial"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="150" [thick]="7"
              [thresholds]="thresholdConfig"
            >
            </ngx-gauge>
            <mat-card-title class="text-title">Comercial</mat-card-title>
          </mat-card-content>
        </mat-card>
        <!--              -------------------------                -->
        <mat-card class="mat-elevation-z3 mat-card-circle">
          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>
            remove_red_eye
          </mat-icon>
          <mat-card-content class="circle-text">
            <ngx-gauge
              [value]="rrhhRangeLevel"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="150" [thick]="7"
              [thresholds]="thresholdConfig">
            </ngx-gauge>
            <mat-card-title class="text-title">Marketing</mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z3 mat-card-circle">
          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>
            remove_red_eye
          </mat-icon>
          <mat-card-content class="circle-text">
            <ngx-gauge
              [value]="10"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="150" [thick]="7"
              [thresholds]="thresholdConfig"
            >
            </ngx-gauge>
            <mat-card-title class="text-title">Venta Nueva</mat-card-title>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card mat-elevation-z3 mat-card-circle">
          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>
            remove_red_eye
          </mat-icon>
          <mat-card-content class="circle-text">
            <ngx-gauge
              [value]="100"
              [label]="gaugeLabel"
              [append]="gaugeAppendText"
              [size]="150" [thick]="7"
              [thresholds]="thresholdConfig"
            >
            </ngx-gauge>
            <mat-card-title class="text-title">Venta Nueva Perú</mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </perfect-scrollbar>
</div>

<!--<div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">-->
<!--  <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true" (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)" (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)">-->
<!--    <div class="scrollable-content">-->
<!--      <div class="t2"></div>-->
<!--&lt;!&ndash;      <div class="cards">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card class="mat-elevation-z3 mat-card-circle">&ndash;&gt;-->
<!--&lt;!&ndash;          &lt;!&ndash;        <button mat-button color="primary" class="select-status">Erores pendientes</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon (click)="getDetalleErrorRH()" class="eye" matTooltip="Ver detalles" mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;            remove_red_eye&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-content class="circle-text">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            [cap] = "'round'"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <ngx-gauge&ndash;&gt;-->
<!--&lt;!&ndash;              [type]="'arch'"&ndash;&gt;-->
<!--&lt;!&ndash;              [thick]="5"&ndash;&gt;-->
<!--&lt;!&ndash;              [value]="rrhhRangeLevel"&ndash;&gt;-->
<!--&lt;!&ndash;              [label]="gaugeLabel"&ndash;&gt;-->
<!--&lt;!&ndash;              [append]="gaugeAppendText"&ndash;&gt;-->
<!--&lt;!&ndash;              [size]="150" [thick]="7"&ndash;&gt;-->
<!--&lt;!&ndash;              [thresholds]="thresholdConfig">&ndash;&gt;-->
<!--&lt;!&ndash;            </ngx-gauge>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-card-title class="text-title">Rescursos Humanos</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card class="example-card mat-elevation-z3 mat-card-circle">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;            remove_red_eye&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-content class="circle-text">&ndash;&gt;-->
<!--&lt;!&ndash;            <ngx-gauge&ndash;&gt;-->
<!--&lt;!&ndash;              [value]="valor500"&ndash;&gt;-->
<!--&lt;!&ndash;              [label]="gaugeLabel"&ndash;&gt;-->
<!--&lt;!&ndash;              [append]="gaugeAppendText"&ndash;&gt;-->
<!--&lt;!&ndash;              [size]="150" [thick]="7"&ndash;&gt;-->
<!--&lt;!&ndash;              [thresholds]="thresholdConfig"&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;            </ngx-gauge>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-card-title class="text-title">TI</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card class="example-card mat-elevation-z3 mat-card-circle">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;            remove_red_eye&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-content class="circle-text">&ndash;&gt;-->
<!--&lt;!&ndash;            <ngx-gauge&ndash;&gt;-->
<!--&lt;!&ndash;              [value]="valor400"&ndash;&gt;-->
<!--&lt;!&ndash;              [label]="gaugeLabel"&ndash;&gt;-->
<!--&lt;!&ndash;              [append]="gaugeAppendText"&ndash;&gt;-->
<!--&lt;!&ndash;              [size]="150" [thick]="7"&ndash;&gt;-->
<!--&lt;!&ndash;              [thresholds]="thresholdConfig"&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;            </ngx-gauge>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-card-title class="text-title">Comercial</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="cards">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card class="mat-elevation-z3 mat-card-circle">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;            remove_red_eye&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-content class="circle-text">&ndash;&gt;-->
<!--&lt;!&ndash;            <ngx-gauge&ndash;&gt;-->
<!--&lt;!&ndash;              [value]="rrhhRangeLevel"&ndash;&gt;-->
<!--&lt;!&ndash;              [label]="gaugeLabel"&ndash;&gt;-->
<!--&lt;!&ndash;              [append]="gaugeAppendText"&ndash;&gt;-->
<!--&lt;!&ndash;              [size]="150" [thick]="7"&ndash;&gt;-->
<!--&lt;!&ndash;              [thresholds]="thresholdConfig">&ndash;&gt;-->
<!--&lt;!&ndash;            </ngx-gauge>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-card-title class="text-title">Marketing</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card class="example-card mat-elevation-z3 mat-card-circle">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;            remove_red_eye&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-content class="circle-text">&ndash;&gt;-->
<!--&lt;!&ndash;            <ngx-gauge&ndash;&gt;-->
<!--&lt;!&ndash;              [value]="10"&ndash;&gt;-->
<!--&lt;!&ndash;              [label]="gaugeLabel"&ndash;&gt;-->
<!--&lt;!&ndash;              [append]="gaugeAppendText"&ndash;&gt;-->
<!--&lt;!&ndash;              [size]="150" [thick]="7"&ndash;&gt;-->
<!--&lt;!&ndash;              [thresholds]="thresholdConfig"&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;            </ngx-gauge>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-card-title class="text-title">Venta Nueva</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card class="example-card mat-elevation-z3 mat-card-circle">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon class="eye" matTooltip="Ver detalles" mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;            remove_red_eye&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-content class="circle-text">&ndash;&gt;-->
<!--&lt;!&ndash;            <ngx-gauge&ndash;&gt;-->
<!--&lt;!&ndash;              [value]="100"&ndash;&gt;-->
<!--&lt;!&ndash;              [label]="gaugeLabel"&ndash;&gt;-->
<!--&lt;!&ndash;              [append]="gaugeAppendText"&ndash;&gt;-->
<!--&lt;!&ndash;              [size]="150" [thick]="7"&ndash;&gt;-->
<!--&lt;!&ndash;              [thresholds]="thresholdConfig"&ndash;&gt;-->
<!--&lt;!&ndash;            >&ndash;&gt;-->
<!--&lt;!&ndash;            </ngx-gauge>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-card-title class="text-title">Venta Nueva Perú</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--  </perfect-scrollbar>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="t1">&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<mat-form-field class="select-status">&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-label>Elegir estado</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-select disableRipple value="1">&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-option value="1">Errores pendientes</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-option value="2">Errores en proceso</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-option value="3">Errores Resueltos</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;<ngx-hm-carousel #carousel&ndash;&gt;-->
<!--&lt;!&ndash;                 [(ngModel)]="index"&ndash;&gt;-->
<!--&lt;!&ndash;                 (ngModelChange)="indexChanged($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                 [autoplay-speed]="speed"&ndash;&gt;-->
<!--&lt;!&ndash;                 [autoplay]="false"&ndash;&gt;-->
<!--&lt;!&ndash;                 [autoplay-direction]="direction"&ndash;&gt;-->
<!--&lt;!&ndash;                 [infinite]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                 [between-delay]="500"&ndash;&gt;-->
<!--&lt;!&ndash;                 [mourse-enable]="true"&ndash;&gt;-->
<!--&lt;!&ndash;                 [data]="array"&ndash;&gt;-->
<!--&lt;!&ndash;                 [aniTime]="300"&ndash;&gt;-->
<!--&lt;!&ndash;                 class="carousel c-accent">&ndash;&gt;-->

<!--&lt;!&ndash;  <section ngx-hm-carousel-container class="content">&ndash;&gt;-->
<!--&lt;!&ndash;    <article class="item cursor-pointer" ngx-hm-carousel-item id="0">&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<!</article>&ndash;&gt;-->
<!--&lt;!&ndash;    <article class="item cursor-pointer" ngx-hm-carousel-item id="1">&ndash;&gt;-->
<!--&lt;!&ndash;-->
<!--<!-</article>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-template #infiniteContainer></ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;  <ng-template #carouselDot let-model>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;&lt;!&ndash;    <div class="ball bg-accent"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;&lt;!&ndash;         [class.visible]="model.index === model.currentIndex"></div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;   &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;  </ng-template>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</ngx-hm-carousel>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="buttons">&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-icon (click)="regresar()" matTooltip="Anterior" mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;    arrow_left&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-icon (click)="avanzar()" matTooltip="Siguiente" mat-raised-button>&ndash;&gt;-->
<!--&lt;!&ndash;    arrow_right&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;  <button mat-button >Regresar</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  &lt;!&ndash;  <button mat-button >Avanzar</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
