.mat-card-circle {
  width: 350px;
  min-width: 150px;
  max-height: 99%;
  //height: 120px;
  //margin: 1%;
  //margin-top: 2%;
  position: relative;
  //background: red;
}
.eye {
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 10px;
}
.select-status {
  position: absolute;
  z-index: 9;
  top: 4px;
  right: 30px;
}
.circle-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text-title {
  font-size: 14px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons {
  //position: absolute;
  z-index: 10;
  margin-bottom: -3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cards {
  width: 2200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  //flex-wrap: wrap;
  //margin-bottom: 3%;
  //padding: 1%;
  //background: #0c525d;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 800px) {
  div.content-container {
    height: 250px;
    //background: #0c525d;
  }
}
.t1 {
  width: 100%;
  height: 100px;
  background: #0c525d;
  overflow-x: scroll;
}
.t2 {
  width: 1300px;
  height: 300px;
  background: #05c7e5;
}
.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  //border-radius: 4px;

  color: #555;
  background-color: #eee;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.action-container,
.content-container {
  position: relative;

  overflow: auto;
  height: auto;
  min-height: 0;
  margin: 8px 16px;
  //border-radius: 4px;

  background-color: #fff;
}

.action-container {
  padding: 16px;
}

.content-container {
  position: relative;

  min-height: 0;
  padding: 8px;
  margin: 12px 16px;
  //border: 1px solid #ccc;
}

.vertical-container,
.horizontal-container {
  min-height: 0 !important;
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  //border: 1px solid #555;
  //border-radius: 4px;

  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.scroll-container {
  position: relative;
}

.scrollable-content {
  padding: 4px;
  margin: 0;
}
